ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #636466;
}

ul li{
    flex-direction: column; 
    color: white;
    margin-right: 100px;
}

ul input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 140px;
    outline: none;
}

ul .title{
    margin-left: 65px;
}

ul .label{
    margin-right: 10px;
}

ul .checkbox{
    margin-left: -60px;
}

ul .encerra{
    margin-left: -150px;
}
