
.modal{
    justify-content: center;
    display: flex;
    margin-top: 150px;
}
.modal .container{
    background-color: #9C9C9C;
    width: 500px;
    height: 320px;
    border-radius: 15px;
    padding: 15px;

}

.modal .container hr{
    margin-top: 10px;
}

.modal .container .box{
    display: flex;
    margin: 13px;
    align-items: center;
}

/* Label */
.modal .container .box label{
    margin-right: 5px;
}

/* Input */
.modal .container .box input{
    outline: none;
    border: none;
}
