.Services{
    display: flex;
    flex-grow: 1;
    padding: 30px;
    background-color: #9C9C9C;
    color: white;
}
.grid{
    margin-top: 100px;
    
}

img {
    width: 80px;
    height: 80px;
    margin-left: 35px;
}

